<link rel="stylesheet" href="{{ 'mobile-menu.css' | asset_url }}">
<script src="{{ 'menu.js' | asset_url }}" defer></script>
<header>
    <button class="menu-toggle" aria-label="Open menu">
    ☰
  </button>
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__menu">
    <nav class="menu-container desktop-menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </nav>

  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

<!-- Mobile Drawer -->
<div class="mobile-drawer" id="mobileDrawer" aria-hidden="true">
  <button class="drawer-close" aria-label="Close menu">✕</button>

  <nav class="mobile-menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </nav>
</div>

<div class="drawer-overlay" id="drawerOverlay"></div>
{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
